*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: Roboto, sans-serif;
}

.promo {
    padding: 38px 0px 61px 0px;
    height:800px;
    background: url("../img/background/main_bg.png") center center/cover no-repeat;
}

.contener {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.logo_img {
    display: block;
    margin: 0 auto;
}

.logo_text {
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}

.title {
    color: #F9BF3B;
    font-family: Roboto;
    font-size: 41px;
    font-weight: 900;
    text-align: center;

}

h1 {
    margin-top: 53px;
}

.simple .title_big {
    margin-top: 20.5px;
    color: #FFFFFF;
    font-family: Roboto;
    line-height: 0.8em;
    font-size: 80px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

h2.title {
    margin-top: 20.5px;
}

.promo_text {
    color: #FFFFFF;
    margin-top: 22.5px;
    padding: 0 22px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    text-align: center;
}

.promo_text span {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    color: #F9BF3B;
}

.button_write {
    display: block;
    margin: 0 auto;
    margin-top: 72px;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    font-family: RobotoCondensed;
    font-size: 21px;
    line-height: 24px;
    text-transform: uppercase;
    width: 313px;
    height: 72px;
    border: 4px solid rgb(0, 0, 0, 0.18);
    cursor: pointer;
    outline: none;
}

.logo_more .text_more{
    margin-top: 70.5px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 24px;
}

.logo_more .logo_more_img {
    display: block;
    margin: 0 auto;
}

.intesive {
    background-color: #EFEFEF;
    min-height:607px;
    padding: 88px 0 75px 0;
}

.intensive_header{
    color: #252525;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

.intesive_line{
    margin: 0 auto;
    margin-top: 20px;
    width: 217px;
    height: 4px;
    background-color: #F9BF3B;
}

.intensive_offer{
    margin-top: 19.5px;
    color: #4A4A4A;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    text-align: center;
}

.intensive_box {
    display: flex;
    justify-content: space-between;
    margin-top: 45.5px;
}

.intensive_box .intesive_block {
    width: 342px;
    text-align: center;
}

.intensive_box .intesive_block .intesive_description {
    margin-top: 26px;
    color:#4A4A4A;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
}

.optimization {
    min-height: 550px;
}
.optimization_img {
    position:absolute;
    top: 47px;
    left: -240px;
    z-index: -1;
}

.optimization .optimization_question {
    margin-top: 108px;
    margin-left: 391px;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
    color: #299cbd;
}

.optimization .optimization_answer {
    margin-top: 25px;
    margin-left: 391px;
    margin-bottom: 74px;
    font-family: Roboto;
    font-size: 17px;
    line-height: 27px;
    font-weight: 300;
    color: #4a4a4a;
}

.optimization .optimization_answer .text_weigth {
    font-weight: bold;
}

.study {
    min-height: 447px;
    background: url(../img/background/second_bg.png) center center/cover no-repeat;
    padding: 86px 0 68.5px 0;
}

.study_header {
    color: #EFEFEF;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
}

.study_line {
    margin: 0 auto;
    margin-top: 18px;
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
}

.study_box {
    margin-top: 39px;
    display: flex;
    justify-content:space-between;
}

.study_box .study_block {
    width: 226px;
    text-align: center;
}

.study_box .study_block .study_circle {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B4E2FF;
    width: 118px;
    height: 118px;
    border-radius: 100%;
}

.study_box .study_block .study_text {
    margin-top: 24.5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    color: #EFEFEF;
}

.present {
    background: #EFEFEF;
    height: 631px;
    padding: 88px 0 88px 0;
}

.present .present_img img {
    display: block;
    margin: 0 auto;
}

.present .present_text {
    margin: 0 auto;
    margin-top: 45px;
    color: #252525;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}

.present button {
    display: block;
    margin: 0 auto;
    margin-top: 52px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    width: 313px;
    height: 72px;
    font-family: RobotoCondensed;
    font-size: 21px;
    line-height: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.webinar {
    height:512px;
}
.webinar .webinar_information {
    padding: 89px 0 52.5px 0;
}

.webinar .webinar_information .webinar_img {
    display: block;
    margin: 0 auto;
}

.webinar .webinar_information .webinar_first {
    margin-top: 36px;
    color: #252525;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

.webinar .webinar_information .webinar_time {
    margin-top: 30px;
    color: #299CBD;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    text-transform: uppercase;
}

.webinar .webinar_information .webinar_sing_up {
    margin-top: 24.5px;
    color: #4A4A4A;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
}

footer {
    height:169px;
    background: #1A1A1A;
    padding: 57px 0 69px 0;
} 

.support {
    color: #888888;
    text-align:center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
}

.support a {
    color: #888888;
}